/* Styling for the site's header*/
.siteHeader {
    /* Allign text in middle of page */
    text-align: center;
    /* Set width of page */
    width: 100%;
    /* Set height of page */
    height: 100%;
}

.middleContainer {
    /* Set width of page */
    width: 100%;
    /* Set height of page */
    height: 100%;
}

.rightContainer {
    /* Set width of page */
    width: 100%;
    /* Set height of page */
    height: 100%;
}

.leftContainer {
    /* Set width of page */
    width: 100%;
    /* Set height of page */
    height: 100%;
}

/* Styling for the picture container making it simialr to instagram */
#Jordan {
    /* Set the picture to be cropped to a circle */
    border-radius: 50%;

    /* Set the picture padding to be 10px */
    padding: 10px;

    /* set the width of the picture */
    width: 10%;

    /* Set the height of the picture */
    display:block;
    /* Setting the pictures margin */
    margin-left: auto;
    margin-right: auto;
}

/* Set background image to cover the entire page */
body {
    /* Set the background image to be the pentagon */
    background-image: url("/images/congruent_pentagon.png");
    /* Set the background image to be repeat */
    background-repeat: repeat;
}

/* Allign the href links to the right */
a {
    /* Set the align to be middle */
    text-align: center;
    /* Set the width of the link to be 100% */
    width: 100%;
    /* Set the height of the link to be 100% */
    height: 100%;

}

/* Wrap mainContainer below picture container */
div .mainContainer {
    display: block;
}